
/* start footer top */
.footerTop{
    background-color: rgb(35, 34, 34);
    position: relative;
    overflow: hidden;
}

.footerTop-container{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}
.footerTop-container .contact-info{
    color: #fff;
    font-weight: 400;
}
.footerTop-container .contact-info ul{
    padding: 0;
}
.footerTop-container .contact-info li{
    display: flex;
    padding: 5px;
}
.footerTop-container .contact-info li p{
    margin-left: 10px;
}
.contact-info h5{
    margin-bottom: 20px;
    padding: 5px;
}
.gallery-container img{
    max-width: 100px;
    cursor: pointer;
}
.gallery-container img:hover{
    box-shadow: 0 0 10px #fff;
}
.footerGallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.coverSectionImg{
    position: absolute;
    right: 0;
    top: 0;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    z-index: 5;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* end footer top */