.services-container > div{
    background-color: #fff;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #333333;
}
.services-container > div:hover{
    transform: translateY(-20px);
}
.services-container > div > div > svg{
    font-size: 3rem;
    color: rgb(11, 189, 11);
    margin: 10px;
}
.services-container > div > div > p{
    font-size: 1.2rem;
    padding: 10px;
}