*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;

}